  <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Add ReactJs dependency-->
    <script src="https://fb.me/react-0.13.3.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div id="content">
    </div>

    <div id="content2">
    </div>

    <div id="dynamicContent">
    </div>

    <script src="javascripts/commentbox.js" type="text/jsx"></script>
    <script src="javascripts/commentbox_jsondata.js" type="text/jsx"></script>
    <script src="javascripts/commentbox_reactivestate.js" type="text/jsx"></script>    
  </body>
</html>
  