  <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Add ReactJs dependency-->
    <script src="https://fb.me/react-0.13.3.min.js"></script>
    <script src="https://fb.me/JSXTransformer-0.13.3.js"></script>

  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!-- Container for React components-->
    <div id="container"></div>

    <div id="container2"></div>

    <div id="profile"></div>

    <div id="menu"></div>


    <div id="likeItem"></div>

    <script src="javascripts/helloworld.js" type="text/jsx"></script>
  </body>
</html>
  